<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="fantasyData" type="FantasyData.Configuration.FantasyDataSubscriptionRetrieverSection, FantasyData"/>
    <section name="fantasyDataMLB" type="FantasyData.Configuration.FantasyDataSubscriptionRetrieverSection, FantasyData"/>
  </configSections>

  <fantasyData defaultSubscription="RealTime">
    <subscriptions>
      <add name="RealTime" baseUrl="https://api.fantasydata.net/v3/nfl/" primarySubscriptionKey="5528632dbc474a0cbdd3cc310ebc2d8e" secondarySubscriptionKey="2cdcaaba9b5e418aa6c6da19707b31bc" />
    </subscriptions>
  </fantasyData>

  <fantasyDataMLB defaultSubscription="Developer">
    <subscriptions>
			<add name="Developer" baseUrl="https://fly.sportsdata.io/v3/mlb/" 
					 primarySubscriptionKey="4e23e4b05e9243e4b567b0299f43add8" 
					 secondarySubscriptionKey="4e23e4b05e9243e4b567b0299f43add8" 
					 projectionPrimarySubscriptionKey="b9192fc0feae4b068aa262a26ceb031a" 
					 projectionSecondarySubscriptionKey="b9192fc0feae4b068aa262a26ceb031a"  
					 PlayByPlayPrimarySubscriptionKey="ec5909f118904300a98ccdf5988e5882" 
					 PlayByPlaySecondarySubscriptionKey="48568c08014140fc86812e38235b8cbc" />
			<add name="RealTime" baseUrl="https://fly.sportsdata.io/v3/mlb/" 
					 primarySubscriptionKey="4e23e4b05e9243e4b567b0299f43add8" 
					 secondarySubscriptionKey="4e23e4b05e9243e4b567b0299f43add8" 
					 projectionPrimarySubscriptionKey="b9192fc0feae4b068aa262a26ceb031a" 
					 projectionSecondarySubscriptionKey="b9192fc0feae4b068aa262a26ceb031a"  
					 PlayByPlayPrimarySubscriptionKey="ec5909f118904300a98ccdf5988e5882" 
					 PlayByPlaySecondarySubscriptionKey="48568c08014140fc86812e38235b8cbc" />
    </subscriptions>
  </fantasyDataMLB>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>