<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="fantasyData" type="FantasyData.Configuration.FantasyDataSubscriptionRetrieverSection, FantasyData"/>
    <section name="fantasyDataNBA" type="FantasyData.Configuration.FantasyDataSubscriptionRetrieverSection, FantasyData"/>
  </configSections>

  <fantasyData defaultSubscription="RealTime">
    <subscriptions>
      <add name="Trial" baseUrl="http://api.nfldata.apiphany.com/trial/" primarySubscriptionKey="2be754f0c319454cb4832d0f524f596b" secondarySubscriptionKey="d2ac4b33ae794fa5ae758dae48283441"/>
    </subscriptions>
  </fantasyData>

  <fantasyDataNBA defaultSubscription="Developer">
    <subscriptions>
      <add name="Developer" baseUrl="https://api.fantasydata.net/v3/nba/" primarySubscriptionKey="f24sd47ed1e3c148b2af5f3f791400e49d" secondarySubscriptionKey="1e17a1859bbb43769e607521f18279b8" projectionPrimarySubscriptionKey="71015c8f0bfd42c8a243e3ba4c88b65c" projectionSecondarySubscriptionKey="0a7d2160e1d649b7a54b89a13fde3d054"/>
      <add name="RealTime" baseUrl="https://api.fantasydata.net/v3/nba/" primarySubscriptionKey="f2447ed1e3c148b2af5f3f791400e49d" secondarySubscriptionKey="1e17a1859bbb43769e607521f18279b8" projectionPrimarySubscriptionKey="" projectionSecondarySubscriptionKey=""/>
    </subscriptions>
  </fantasyDataNBA>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>